__pycache__/
myenv/
wandb/*
myenv/
data/MNIST/
__pycache__/*
generated_images/
MNIST/
data/cifar-10-batches-py 
data/MNIST 
data/cifar-10-python.tar.gz 
gaussian_noise_images/
mnist_images/ 
infra/data/cifar-10-python.tar.gz
testing
